body {
  background-image: linear-gradient(to right top, #009ee2, #1e93f8, #6981ff, #ab61f9, #e518db);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
}

header {
  color: white;
  height: 10vh;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 5px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style-type: circle;
  padding-left: 20px;
}

.player_select {
  margin: 10px;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

input {
  display: block;
  margin: 5px 0;
  width: 200px;
  height: 30px;
  border-radius: 10px;
}

.shape {
  display: flex;
  margin: 10px 0;
}

.shape input {
  height: 15px;
  width: 15px;
  margin: 0 15px 0 0;
}

.message_section {
  color: white;
}

.message_section h3 {
  font-size: 50px;
  font-weight: 700;
  margin: 50px;
}

.message_section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.game_section {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 60vh;
  height: 60vh;
  gap: 10px;
}

.game_section h2 {
  grid-column: 1 / -1;
  color: #703900;
}

.game_section a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: 3px 2px 3px #808080;
}

.game_section a:hover {
  cursor: pointer;
  box-shadow: 0 0 0 white;
}

.game_info {
  display: block;
  color: white;
  margin: 10px;
}

.none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
